framework: net40, net45, net451, net452
source https://www.nuget.org/api/v2

nuget FAKE
nuget MBrace.Flow
nuget MBrace.Thespian
nuget MBrace.Azure.Management 1.3.0
nuget FsLab 0.4.8-beta
nuget WindowsAzure.Storage 4.3.0
nuget FSharp.Azure.StorageTypeProvider 1.2.0
